@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat-bold-webfont.woff2') format('woff2'),
         url('../montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat-italic-webfont.woff2') format('woff2'),
         url('../montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat-light-webfont.woff2') format('woff2'),
         url('../montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat-medium-webfont.woff2') format('woff2'),
         url('../montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../montserrat-regular-webfont.woff2') format('woff2'),
         url('../montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1900px;
}

.header__top-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: inline-block;
    text-decoration: none;
}

/* Header */

.header {
    border-bottom: 2px solid #04f700;
}

.header__top {
    padding: 20px 0;
    background: #04f700;
}

.header__top-date {
    margin-right: 27%;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.header__top-logo {
    margin-right: 25%;
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    transition: all .5s ease-in-out;
}

.header__top-logo:hover {
    text-shadow: 3px 6px 15px #000000;
}

.header__top-user {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    transition: color .5s ease-in-out;
}

.header__top-user:hover {
    color: #002bff;
}

.header__top-user:not(:last-child) {
    margin-right: 2%;
}

/* Header-bottom */

.header__bottom {
    padding: 20px 0;
}

.header__bottom-nav {
text-align: center;
}

.header__bottom-nav-link {
    font-size: 30px;
    font-weight: 600;
    color: #222222;
    transition: color .5s ease-in-out;
}

.header__bottom-nav-link:not(:last-child) {
    margin-right: 50px;
}

.header__bottom-nav-link:hover {
    color: #04f700;
}