{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <title>Ошибка 404</title>
</head>
<body>
    <div class="container">
        <h2 class="error_head">Страница не найдена</h1>
        <p style="font-size: 40px;">Возможно Вы ввели неправильный путь</p>
        <a href="/" class="home link">Вернуться на главную</a>
    </div>
   
</body>
</html>