{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'index/img/django.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/media.css' %}">
    <title>Сброс пароля</title>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-info">
                    <div class="header__date-block">
                        <span class="header__date">{% now 'j E Y' %}</span>
                    </div>
                    <div class="header__top-logo">
                        <a href="/" class="header__bottom-logo link">MySite</a>
                    </div>
                </div>
            </div>
        </div>        
    </header>
    <section class="complete">
        <div class="container">
            <h2 class="complete__heading">Все получилось !!!</h2>
            <p class="complete__descr">Ваш пароль был изменен. Вы можете 
                <a href="{% url 'login' %}" class="complete__link link">
                    войти на сайт
                </a>
            </p>
        </div>
    </section>
</body>
</html>
