{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'index/img/django.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/media.css' %}">
    <title>Сброс пароля</title>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-info">
                    <div class="header__date-block">
                        <span class="header__date">{% now 'j E Y' %}</span>
                    </div>
                    <div class="header__top-logo">
                        <a href="/" class="header__bottom-logo link">MySite</a>
                    </div>
                </div>
            </div>
        </div>        
    </header>
    <section class="done">
        <div class="container">
            <h2 class="done__heading">Сброс Вашего пароля</h2>
            <p class="done__descr">Мы отправили вам по электронной почте инструкции по установке вашего пароля.</p>
            <p class="done__descr">Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввелиадрес, по которому регистрировались.</p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'index/js/index.js' %}"></script>  
    </body>
    </html>